body,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Karma", sans-serif;
  // justify-content: flex;
  // display: flex; 
}



.card-body {
  display: flex;
  
}

.title-heading {
  padding: 5px;
  text-align:center;
  
}

.card-body{
  display: flex;   
}

.card-container {
  display: flex;
  padding-top: 75px;
 
}

.card-text {
  display: flex;
  flex-direction: column;
}

// button {
//   color: blue;
  
// }

.card-img-top {
  height: 264px;
  width: 352px;
}

.card-container {
  display: flex;
  gap: 12px;
}

.btn-primary { 
  .button2 {background-color: #008CBA;} /* Blue */
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;     margin: 50px auto;     width: fit-content;     border: 1px solid #ff004f;     padding: 14px 50px;     border-radius: 6px;     text-decoration: none;     color: #fff;     transition: background 0.5s;
}